# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Node
fraud-frontend/node_modules/
fraud-frontend/dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
